@import "./utils/utils.scss";
@import "./utils/variables";
@import "./components/container";
@import "./components/header";
@import "./components/hero";
@import "./components/feedback";
@import "./components/body";
@import "./components/apartaments";
@import "./components/infrastructure";
@import "./components/gallery";
@import './components/slider';
@import "./components/footer";
@import './components/modal';
