.review {
    background-image: url(/./images/image\ 26.jpg);
    width: 1280px;
    height: 630px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.background_review {
    width: 1280px;
    height: 340px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background: var(--button-background, #fcfcfb);
}

.title_review {
    color: var(--button-text, #2d2a22);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.paragraph {
    color: var(--text-of-pages, #7e6d53);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.menu_review {
    display: flex;
    width: 393px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin-left: 753px;
    padding-top: 50px;
}
