.footer{
    width: 1280px;
height: 276px;
flex-shrink: 0;
background: var(--header, linear-gradient(269deg, #2D2A22 20.66%, #7E6D53 85.22%));
margin-left: auto;
margin-right: auto;
}

.first_footer{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 16px;
}

.list_footer{
color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 16px;
}

.menu_footer{
    margin-left: 304px;
}

.second_footer{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 16px;
}

.data_footer{
    color: #FFFEFE;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 16px;
}

.navigation_footer{
    margin-left: 616px;
}

.paragraph_footer{
    color: #979797;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 121.429% */
text-align: center;
}

.span_footer{
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 17px;
text-decoration-line: underline;
}