
.galery {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--global-back, #EDE9E3);
}

.galery__title {
  color: var(--text-of-pages, #7E6D53);

  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}